/* #height1
{
    height: 706px;
      
}
*/

#space
{
    height: 12px;
}
.Distance2
{
    height: 273px;
}

.fa-phone
{
    color: #220088;
}


/* here is beginning of info from about.css */



.backroundProfile
{

  background-color: white;
    border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
 

}


#space
{
    height: 6px;
}



 #profileSpace
 {
height: 3%;
 }

 /* #profileName */
 /* { */
    /* height: 12.5%; */
 /* } */

#profilePic
{
    height: 94%;
}

@media only screen and (max-width: 850px){
   
    #profilePic
 {
    height: 100%;
    width: 100%;
    /* white-space: nowrap; */
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
     
 }
     }



 

/* #afterPicSpace */
/* { */
    /* height: 12.5%; */
/* } */

/* #profileContent */
/* { */
    /* width: 30%; */
/* } */

/* @media only screen and (max-width: 850px){ */
   
    /* #profileContent */
    /* { */
    
         /* height: 30%; */
        /* white-space: nowrap; */
        /* display: flex;  */
        /* align-items: center;  */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* flex-direction: row; */
        /* justify-content: center; */
        
    /* } */
        /* } */

#imgProfile{
 height: 690px;
}



#buttonProfile {
    
  font-size: larger;
  font-family: 'Futura';
  height: 678px;
  width: 100%;
  /* white-space: nowrap; */
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 1.8%;
  border: 10px solid white;
  }



  /* @media only screen and (max-width: 850px){ */
    /* #buttonProfile */
      /* { */
   /* font-size: larger; */
   /* font-family: 'Futura'; */
   /* height: 678px; */
   /* width: 100%; */
   /* display: flex;  */
   /* align-items: center;  */
   /* justify-content: space-between; */
   /* flex-wrap: wrap; */
   /* white-space: nowrap; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* border-radius: 1.8%; */
   /* border: 10px solid #ECEFF8;      */
      /* } */
    /* } */




  div > p {
    margin: 0;
    width: 1500px;
  }
  

/* All media queries are done on this, only thing to check the nav bar is shrinking on media queries when contracted */
/* When checked there was no media query found there on Nav Bar its happening automatically on Browser */