
#footer
{
   
    display: flex; 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    height: 45px;
/* padding-left: 10%;   */
/* padding-right: 10%;  */
}

#firstLevel
{
  width: 100%;
    display: flex; 
    align-items: center; 
    flex-direction: row;
    text-align: center;
}
/* Anything in the first div you will have to divide the width in % to make it 100% of this div */
/* Please add padding here from left and right to condense little as design */


#secondLevel
{
 width: 100%;
    display: flex; 
    align-items: center; 
    flex-direction: row;
    text-align: center;
}


.space
{
   width: 33.33%;
  
}

/* all this to be revised */
/* @media only screen and (max-width: 850px){
    .space
      {
           width: 25%;
        
      }
    }

 @media only screen and (max-width: 850px){ 
    #Mail 
      {
           display: none;
        
      }
    }
    

    @media only screen and (max-width: 850px){
        #Phone
          {
               display: none;
            
          }
        }
*/
        .fa-envelope
        {
          color: #4F9CC8;
        }
        .fa-facebook
        {
          color: #4F9CC8;
        }
        .fa-linkedin
        {
          color: #4F9CC8;
        }
        .fa-github
        {
          color: #4F9CC8;
        }
        .fa-stack-overflow
        {
          color: #4F9CC8;
        }