.App {
  text-align: center;
  padding-top: 1.2px;
  
  /* insert here flex and mobile view*/
}


/*  nav bar code is here follows */

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;    
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: Helvetica, sans-serif;
  color: blue;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navCenter
{
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 81px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#sectionOne{
  width:33.3%; 
}

@media only screen and (max-width: 850px){
  #sectionOne
    {
       width: 7%;  
      
    }
  }


#sectionTwo
{
  width: 66.6%;    
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (max-width: 850px){
  #sectionTwo
    {  
       width: 93%;   
       justify-content: space-between;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
    }
  }




.home
{
  width: 50%;
}

@media only screen and (max-width: 850px){
  .home
    {  
       width: 90%;   
       
    }
  }


.cart
{
  padding-top: 3.6px;
  width: 50%;
  
}

@media only screen and (max-width: 850px){
  .cart
    {  
      padding-top: 3.6px;
  width: 10%;
    }
  }



.topmenu ul li.active a, .topmenu ul li a:hover{
  text-decoration:none;
  color:#fff;
}


.fourthLink

{
 font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* this is to be checked */

